<a href="https://colab.research.google.com/github/rayannoyma/Projeto-Shark-Attacks/blob/main/projeto_shark_attacks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Projeto Shark Attack

Diretrizes:

Como começar

- Crie seu repositório github, não se esqueça de confirmar com antecedência e com frequência.
- Baixe o conjunto de dados e importe-o para o Python.
- Examine os dados e tente entender o significado dos campos antes de prosseguir com a limpeza e manipulação dos dados.
- Use dicas rápidas sobre análise exploratória de dados, como o método "descrever" e gráficos básicos, para explorar os dados e identificar quaisquer problemas que precisem ser resolvidos.
- Decida uma hipótese (ou hipóteses) para orientar seus esforços de limpeza. Apresente a análise de forma clara e coerente para apoiar os resultados. Por exemplo: "Os tubarões atacam mais pessoas jovens do que as mais velhas", "A maneira mais fácil de ser atacado por um tubarão é surfando", "Os tubarões atacam mais pessoas nos EUA do que na Islândia", etc.
- Aplique pelo menos cinco técnicas de limpeza de dados, como manipulação de valores nulos, descarte de colunas, remoção de dados duplicados, manipulação de strings, formatação de dados etc., para preparar o conjunto de dados para análise.
- Depois que os dados forem limpos, analise-os para validar suas hipóteses e tirar conclusões sobre os dados. Use a análise estatística básica e crie gráficos para apoiar suas descobertas.
- Crie uma apresentação visualmente atraente com o mínimo de texto para mostrar que comunique efetivamente suas ideias e conclusões às partes interessadas, criando uma narrativa convincente que destaca a importância de sua análise.
- Organize seu código! Para melhorar a organização e a legibilidade do seu código, crie arquivos .py separados para funções relacionadas e use vários notebooks Jupyter, se necessário. Use uma "função de limpeza principal" em Cleaning.py (ou similar) que chame todas as funções de limpeza menores em uma ordem específica para executar todo o processo de limpeza de uma só vez. Seu código deve ser fácil de ler e entender para seus colegas (e futuros recrutadores).

In [1]:
import pandas as pd
import numpy as np

https://www.amazon.com/Sharkbanz-Magnetic-Shark-Repellent-Band/dp/B01N7CSP0S?crid=2C75676AC8FD5&keywords=shark%2Brepellent&qid=1668271261&sprefix=shark%2Brep%2Caps%2C223&sr=8-1-spons&th=1&linkCode=li3&tag=honestsurf-20&linkId=519c5209ede246edcce82576d5c19b03&language=en_US&ref_=as_li_ss_il

In [4]:
shark_attacks = pd.read_excel('GSAF5.xls')

In [18]:
shark_attacks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number',
       'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [19]:
dados2 = ['Date','Location','Sex ']
dados_3 = shark_attacks[dados2]
dados_3

             Date                                    Location Sex
0     25-Mar-2023  Blue Fish Channel, Key West, Monroe County    M
1     22-Mar-2023                                Delta Island    M
2     19-Mar-2023                             Anaehoomalu Bay    M
3     17-Mar-2023                                      Cancún    M
4     16-Mar-2023                              Cheynes Beach     F
...           ...                                         ...  ...
6860          NaN                                         NaN  NaN
6861          NaN                                         NaN  NaN
6862          NaN                                         NaN  NaN
6863          NaN                                         NaN  NaN
6864          NaN                                         NaN  NaN

[6865 rows x 3 columns]

In [20]:
freq_loc = dados_3['Location'].value_counts()
freq_loc

New Smyrna Beach, Volusia County                     189
Daytona Beach, Volusia County                         31
Ponce Inlet, Volusia County                           26
Myrtle Beach, Horry County                            21
Melbourne Beach, Brevard County                       20
                                                    ...
St. Augustine Beach, St. Johns County                  1
Lauderdale-By-The-Sea, Broward County                  1
Brenecke Beach, Po'ipu, Kaua'i                         1
Deerfield Beach (near Boca Raton), Broward County      1
Below the English fort, Trincomalee                    1
Name: Location, Length: 4437, dtype: int64

In [22]:
freq_date = dados_3['Date'].value_counts()
freq_date

1957                    9
1942                    8
1958                    7
1956                    6
No date                 6
                       ..
Reported 16-Sep-1999    1
19-Sep-1999             1
24-Sep-1999             1
29-Sep-1999             1
1845-1853               1
Name: Date, Length: 5913, dtype: int64

In [23]:
freq_sex = dados_3['Sex '].value_counts()
freq_sex

M        5505
F         750
M           2
N           2
 M          1
lli         1
M x 2       1
.           1
Name: Sex , dtype: int64